body {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: lujan;
  font-size: 22px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.red {
  color: brown;
}
