@font-face {
  font-family: lujan;
  font-weight: 400;
  font-style: normal;
  src: url("../../public/typography/font.woff2");
}

@font-face {
  font-family: lujan;
  font-weight: 100;
  font-style: normal;
  src: url("../../public/typography/font-100.ttf");
}

@font-face {
  font-family: lujan;
  font-weight: 200;
  font-style: normal;
  src: url("../../public/typography/font-200.ttf");
}

@font-face {
  font-family: lujan;
  font-weight: 300;
  font-style: normal;
  src: url("../../public/typography/font-300.ttf");
}

@font-face {
  font-family: lujan;
  font-weight: 400;
  font-style: normal;
  src: url("../../public/typography/font-400.ttf");
}

@font-face {
  font-family: lujan;
  font-weight: 500;
  font-style: normal;
  src: url("../../public/typography/font-500.ttf");
}

@font-face {
  font-family: lujan;
  font-weight: 600;
  font-style: normal;
  src: url("../../public/typography/font-600.ttf");
}

@font-face {
  font-family: lujan;
  font-weight: 700;
  font-style: normal;
  src: url("../../public/typography/font-700.ttf");
}

@font-face {
  font-family: lujan;
  font-weight: 800;
  font-style: normal;
  src: url("../../public/typography/font-800.ttf");
}

@font-face {
  font-family: lujan;
  font-weight: 900;
  font-style: normal;
  src: url("../../public/typography/font-900.ttf");
}
